.sans-serif {
    font-family: sans-serif;
}

.serif {
    font-family: serif;
}

.verdana {
    font-family: Verdana;
}

.monospace {
    font-family: monospace;
}

.nerko-one {
    font-family: NerkoOne;
}
@font-face {
    font-family: NerkoOne;
    src: url("../fonts/NerkoOne-Regular.ttf");
}