body { font-size: 6rem;  }
.item, .container { margin: 5px; }
.container,.wrapper { display:flex;}

.wrapper { border: thick solid black; }
.line { flex-direction: row;  border: thick solid brown;}
.line-rev { flex-direction: row-reverse; border: thick solid brown;}
.pilar { flex-direction: column; border: thick solid blue; 	 }
.pilar-rev { flex-direction: column-reverse; border: thick solid blue; 	}
