caption {
    font-weight: bold;
    font-size: 1.5em;

}

table{
    border-spacing: 0;
    font-family: Arial;
    width: 90%;

}

td, th {
    text-align: center;
    padding: 6px;
}

thead th{
    border-bottom: 1px solid black;
}
tfoot th{
    border-top: 1px solid black;
}

tbody tr:nth-child(2n+1){
    background-color: mediumturquoise;
}

.F1 {
    font-weight: bold;
}
