/*What is the font they use?*/

body > header {
    font-family: monospace;
    text-align: center;
}

section > header {
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px black;
}

h5 {
    text-align: right;
}

.highlight {
    font-weight: bold;
}

p:first-letter{
    font-size: 2em;
}

p {
    text-indent: 50px;

}

a {
    /*
    You can only use one of these apparently.
    text-decoration: overline;
    text-decoration: underline;
    */
    border-top: 1px solid;
    text-transform: lowercase;
}



